services:
  database:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME:-dbest_moon}
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-example}
    volumes:
      - ./data/dev/postgres:/var/lib/postgresql/data

  app:
    image: dbest-moon/app:dev
    restart: always
    build:
      context: .
      dockerfile: ./Dockerfile.dev
    depends_on:
      - database
    ports:
      - ${WEB_PORT:-3000}:3000
      - ${API_PORT:-8080}:8080
      - 4983:4983
      - 4444:4444
    tty: true
    init: true
    develop:
      watch:
        - action: sync
          path: ./
          target: /app
          ignore:
            - node_modules/
    environment:
      WEB_PORT: 3000
      API_PORT: 8080
      DB_NAME: ${DB_NAME:-dbest_moon}
      DB_USER: ${DB_USER:-postgres}
      DB_PASSWORD: ${DB_PASSWORD:-example}
      DB_HOST: database
      DB_PORT: 5432
    volumes:
      - .:/app
      - ./data/dev/drizzle:/app/apps/api/drizzle
      - ./data/dev/moon_cache:/app/.moon/cache
      - ./data/dev/proto:/root/.proto
      - ./data/dev/node_modules:/app/node_modules/
      - ./data/dev/api/node_modules:/app/apps/api/node_modules/
      - ./data/dev/web/node_modules:/app/apps/web/node_modules/
      - ./data/dev/api-client/node_modules:/app/packages/api-client/node_modules/
      - ./data/dev/ui/node_modules:/app/packages/ui/node_modules/
